<% provide(:title, "About") %>
<%= link_to "Services", 'static_pages/services', class: "btn btn-lg btn-primary" %>
<h1>
Licensed and insured
24 hour emergency service
<h1>
Please email us with any questions <a href="mailto:comeseethewizard@gmail.com"> comeseethewizard@gmail.com </a>
<p>
<p>



<p> Call us anytime! <a href="tel:+16178704540"> (617) 870-4540 </a>

</p>
</p>

<p>
Specializing in private, residential, and commercial properties, we have the answer to all of your plumbing needs! With more than ten years experience under our tool belt, we guarantee our quality of work will be five-star! 
<p>