<h1>StaticPages#contact</h1>

<p>
Licensed and insured
24 hour emergency service
Send us an email or give us a call anytime!
comeseethewizard@gmail.com
(617) 870-4540
</p>

<p>
Specializing in private, residential, and commercial properties, we have the answer to all of your plumbing needs! With more than ten years experience under our tool belt, we guarantee our quality of work will be five-star! 
<p>