<h1>StaticPages#services</h1>
<p>
<ol>
Primary Services we offer include:
Gas fitting
Oil to gas conversions
Emergency no heat response
Emergency no hot water response
Water heater replacements
High efficiency heating unit installation
Gas fire place insert installations
Radiant Heat Installations
Leaky Pipe/Faucet/Fixture Repairs/Fixture replacements
Boiler replacements
Updating plumbing systems
Laundry installation
Kosher kitchen sink installations
Drain cleaning
Specializing in toilet repairs
</ol>
</p>

<p>
Additional services we offer include:
<ol>
In-window A/C removal
Bathroom/kitchen remodel
<ol>

<p>
Please email us with any questions about your projects!Find me in app/views/static_pages/services.html.erb</p>
<p>
<p>
comeseethewizard@gmail.com
(617) 870-4540
</p>