<% provide(:title, "Services") %>
<div class="center jumbotron">
<center>
<h2>Primary Services we offer include : </h2>
<style>
    li { display:table; margin:0 auto;}
</style>

<ul>
	<h3>
	<li> Gas fitting </li>
	<li> Oil to gas conversions </li>
	<li> Emergency no heat response </li>
	<li> Emergency no hot water response </li>
	<li> Water heater replacements </li>
	<li> High efficiency heating unit installation </li> 
	<li> Gas fire place insert installations </li>
	<li> Radiant Heat Installations </li>
	<li> Leaky Pipe/Faucet/Fixture Repairs/Fixture replacements </li>
	<li> Boiler replacements </li>
	<li> Updating plumbing systems </li>
	<li> Laundry installation </li>
	<li> Kosher kitchen sink installations </li>
	<li> Drain cleaning </li>
	<li> Specializing in toilet repairs </li>
	</h3>
</ul>

<h2>
Additional services we offer include : </h2>

<ul> 
	<h3>
	<li> In-window A/C removal </li>
	<li> Bathroom/kitchen remodel </li> 
	</h3>
</ul>

<p> <h2>
Please email us with any questions about your projects!  <a href="mailto:comeseethewizard@gmail.com"> comeseethewizard@gmail.com </a> </h2>
<p>
<p>


<h2>  Call us anytime! <a href="tel:+16178704540"> (617) 870-4540 </a>
</h2> </center>
</div>